DJANGO_SECRET_KEY=sua-secret-key-local
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
SAFEGUARD_API_KEY=sua-chave-de-desenvolvimento
SAFEGUARD_RATE_LIMIT=60/min
SAFEGUARD_LOG_LEVEL=INFO

POSTGRES_DB=safeguard_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=sua-senha-local
POSTGRES_HOST=localhost
POSTGRES_PORT=5434
POSTGRES_EXTERNAL_PORT=5434

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_URL=redis://localhost:6379/0
